
// 小程序不支持indexOf
function isContainKey(str) {
    var regexp = getRegExp('VIP','i');
    return regexp.test(str)
}

function getBgColor(str) {
    var arr = str.split(",");
    var style = "background: rgba(" + arr[0] + "," + arr[1] + "," + arr[2] + ",1);"
    return "background: #333;";
}

module.exports = {
    isContainKey: isContainKey,
    getBgColor: getBgColor
}