
function getStars(val) {
    var num = val / 2
    var ret = []
    switch (num) {
        case 1:
            ret = [1, 0, 0, 0, 0];
            break;
        case 2:
            ret = [1, 1, 0, 0, 0];
            break;
        case 3:
            ret = [1, 1, 1, 0, 0];
            break;
        case 4:
            ret = [1, 1, 1, 1, 0];
            break;
        case 5:
            ret = [1, 1, 1, 1, 1];
            break;
        default:
            ret = [1, 1, 1, 1, 1];
    }
    return ret
}

// 无法使用new Date()
//只能显示年月日，没有按设计需求显示几小时前、一周前等时间，是否使用util.js的文章评论点赞时间处理getDateDiff()
function getDateTime(value) {
    var time = getDate(value);
    var year = time.getFullYear();
    var month = time.getMonth() + 1;
    var date = time.getDate();
    var hour = time.getHours();
    var minute = time.getMinutes();
    var second = time.getSeconds();
    month = month < 10 ? "0" + month : month;
    date = date < 10 ? "0" + date : date;
    hour = hour < 10 ? "0" + hour : hour;
    minute = minute < 10 ? "0" + minute : minute;
    second = second < 10 ? "0" + second : second;
    // return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
    return year + "." + month + "." + date;
}

function isThumbsUp() {
    // console.log(wx.getStorage('comment_like'))
}

function isCorrectScore(score) {
    return score && score !== '0.0' && score != '' ? true : false
}

module.exports = {
    getStars: getStars,
    getDateTime: getDateTime,
    isThumbsUp: isThumbsUp,
    isCorrectScore: isCorrectScore // 过滤分数
}