
function isCollect(arr, key) {
    for (var i = 0; i < arr.length; i++) {
        if (key === arr[i]) {
            return true;
        }
    }
    return false;
}

function isCollect2(obj, key) {
    var val = obj[key]
    return val == null ? false : true
}

function getFormattedTags (tags) {
    var regexp = getRegExp(',|-','i');
    var tagsArr = tags.split(regexp);
    return tagsArr.join(' · ')
}

module.exports = {
    isCollect: isCollect2, //某部影片是否收藏在缓存列表里
    getFormattedTags: getFormattedTags
}