
function isCollect(arr, key) {
    for (var i = 0; i < arr.length; i++) {
        if (key === arr[i]) {
            return true;
        }
    }
    return false;
}

function isCollect2(obj, key) {
    var val = obj[key]
    return val == null ? false : true
}

module.exports = {
    isCollect: isCollect2
}